@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

@import url(http://fonts.googleapis.com/css?family=Coda:400,800);
/** Variables **/
/** Mixins **/
.p0 {
  padding: 0px;
}
.m0 {
  margin: 0px;
}
/** Mixins End **/
body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
#drunkmain,
#sidenav {
  -webkit-transition: all 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
.bannerbg {
  background-image: url(../img/banner2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bannervideo h1.site-title,
.bannervideo h2.site-description,
.bannervideo .resp {
  color: #f6fefe !important;
}
.bannervideo h1.site-title {
  margin-top: 350px !important;
}
.banner {
  position: relative;
  height: 900px;
  padding-bottom: 80px;
  margin-bottom: 80px;
  overflow: hidden;
}
.banner .banner-overlay {
  min-height: 700px;
  width: 100%;
  background-color: rgba(20, 20, 20, 0);
  position: absolute;
}
.banner h1.site-title {
  padding: 0px;
  margin: 0px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 64px;
  font-size: 50px;
  color: #CE1836;
  font-family: "Coda";
  color: #FC354C;
  color: #f6fefe;
  color: #181419;
  margin-top: 300px;
}
.banner h2.site-description {
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #f6fefe;
  color: #FC354C;
  color: #181419;
}
.banner #sidenav {
  display: none;
}
.banner .resp {
  padding-top: 40px;
  text-align: left;
  color: #181419;
}
.banner .resp i {
  font-size: 20px;
  cursor: pointer;
}
.banner .resp a:hover {
  color: #FC354C;
}
.banner h1 a,
.banner h2 a {
  text-decoration: none;
  color: inherit;
}
h1.entry-title {
  font-weight: 700;
  font-family: "Coda";
  font-size: 36px;
  margin-top: 10px;
  text-transform: uppercase;
  color: #070001;
  margin-bottom: 40px;
  line-height: 48px;
  line-height: 40px;
}
.entry-meta {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Coda", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
h1 a:hover,
h2 a:hover,
.entry-meta a:hover {
  text-decoration: none;
  color: #FC354C;
}
.entry-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 38px;
}
.entry-content p {
  padding-bottom: 20px;
}
footer.site-footer {
  margin-top: 50px;
  min-height: 100px;
  background-color: #070001;
}
.entry-thumb,
div.tiled-gallery {
  margin-bottom: 20px;
}
article.posts {
  margin-bottom: 80px;
  border-bottom: 8px solid #eee;
  padding-bottom: 50px;
}
article.posts:last-of-type {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.jp-carousel-image-meta,
.jp-carousel-comment-form-container {
  display: none;
}
div.tags-links a:hover {
  color: #FC354C;
}
.edit-link {
  color: #FC354C;
}
div.tags-links {
  margin-bottom: 10px;
  margin-top: 15px;
  font-family: "Coda", sans-serif;
  font-weight: 600;
}
div.comments-link {
  font-size: 20px;
}
/** Mini quote **/
.miniquote {
  padding: 50px;
  margin-bottom: 80px;
}
.miniquote p {
  font-size: 22px;
  line-height: 40px;
  color: #ccc;
}
.sidenav {
  position: fixed;
  left: -340px;
  /*left or right and the width of your navigation panel*/

  width: 340px;
  /*should match the above value*/

  background-color: #ffffff;
  height: 1000px;
  overflow-y: hidden;
}
/** sidebar **/
input[type="search"] {
  width: 100%;
  height: 45px !important;
  padding: 5px;
}
aside.widget {
  margin-bottom: 40px;
}
aside.widget ul {
  padding: 0;
  margin: 0;
  padding-top: 5px;
  list-style-type: none;
}
aside.widget ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #ddd;
}
aside.widget ul li a:hover {
  color: #FC354C;
}
h1.widget-title {
  font-family: "Coda", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #444;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.page-title {
  font-family: "Coda", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -30px;
}
.nav-previous,
.nav-next {
  padding-bottom: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #FC354C;
}
.nav-previous i,
.nav-next i {
  font-size: 14px;
}
h3.comment-reply-title {
  font-family: "Coda", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
h2.comments-title {
  font-family: "Coda", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 4px solid #eee;
  margin-bottom: 30px;
  margin-top: 30px;
}
ol.comment-list {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}
ol.comment-list a {
  color: #FC354C;
}
ol.comment-list a:hover {
  color: #FC354C;
  font-weight: 600;
}
ol.comment-list li {
  margin-bottom: 30px;
  list-style: none;
}
ol.comment-list li ol {
  margin-top: 30px;
}
ol.comment-list article.comment-body {
  padding-bottom: 30px;
  border-bottom: 1px dotted #ddd;
}
ol.comment-list > li:last-of-type article.comment-body {
  border-bottom: none;
  padding-bottom: 0px;
}
.comment-meta {
  margin-bottom: 15px;
}
.comment-meta img {
  margin-right: 10px;
}
.comment-metadata {
  display: none;
}
.comment-content {
  font-size: 16px;
  line-height: 30px;
}
#cancel-comment-reply-link {
  font-size: 13px;
}
#secondary {
  padding-left: 10px;
  padding-top: 12px;
}
/** side menu **/
.wrap {
  position: relative;
}
/** sidebar contents **/
.sidenav-content {
  margin: 20px;
  border-bottom: 1px solid #eee;
}
.sidenav-content h4 {
  color: #222;
  font-family: "Coda", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 5px solid #ddd;
}
.site-navigation {
  padding: 15px;
}
#sidenav {
  border-right: 1px solid #eee;
}
.logo-container {
  margin-top: 10px;
  margin-left: 10px;
}
.logo {
  width: 70px;
  float: left;
}
.logo img {
  width: 60px;
  height: auto;
  border-radius: 30px;
}
.logo-desc {
  width: 200px;
  float: left;
  font-family: "Coda", sans-serif;
}
.logo-desc h3 {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  text-transform: uppercase;
  color: #aaa;
  font-size: 14px;
  font-weight: 600;
}
.logo-desc h2 {
  padding: 0;
  margin: 0;
  padding-top: 5px;
  text-transform: uppercase;
  color: #222;
  font-size: 18px;
  font-weight: 600;
}
.site-description {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 50px;
}
.site-description p {
  font-size: 14px;
  line-height: 26px;
  color: #373737;
}
.clear {
  clear: both;
}
nav.site-navigation {
  margin-top: 15px;
}
nav.site-navigation ul {
  list-style: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
nav.site-navigation ul li {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 14px;
}
nav.site-navigation ul li ul.sub-menu {
  padding-top: 10px;
  margin-left: 0px;
}
nav.site-navigation ul li a {
  text-decoration: none;
  color: #181419;
  color: #f6fefe;
  color: #222;
}
nav.site-navigation ul li a:hover {
  color: #FC354C;
}
.credit {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  color: #333;
}
